---
import ThemeToggle from "../components/ThemeToggle";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ThemeToggle client:load />

    <h1 class="py-4 text-3xl text-black dark:text-white">
      Welcome to <span class="text-gradient">Astro</span>
    </h1>
  </main>
</Layout>
